.dashboard {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #fbfbfb;

  .top {
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 5;
    background: #fff;

    .hamburger-container {
      width: 6%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;

      .hamburger {
        color: #213f7d;
        cursor: pointer;
      }

      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 576px) and (max-width: 768px) {
        width: 4%;
      }
    }

    .top-left {
      width: calc(25% - 10px);
      height: 100%;
      padding-left: 10px;
      display: flex;

      .logo {
        display: flex;
        width: 180px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;

        .logo-img {
          width: 24.75px;
          height: 25px;
        }
        .logo-name {
          width: 138.44px;
          height: 36px;
        }
      }

      @media (max-width: 768px) {
        width: calc(43% - 10px);
        padding-left: 3px;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        width: calc(30% - 10px);
      }
    }

    .top-right {
      width: 40%;
      height: 100%;
      padding-left: 10px;
      display: flex;
      align-items: center;
      justify-content: end;

      .container {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #213f7d;
        margin-right: 25px;
        overflow: hidden;

        .icons {
          cursor: pointer;
        }

        .docs {
          text-decoration: underline;
          cursor: pointer;
        }

        .business-container {
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .business-image-container {
            width: 48px;
            height: 48px;
            background: #c4c4c4;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 90%;
              height: 90%;
              border-radius: 100px;
            }
          }
        }
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }

      @media (max-width: 768px) {
        width: 51%;
        padding-left: 2px;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        width: calc(33% - 10px);
      }
    }

    .top-center {
      width: calc(35% - 10px);
      height: 100%;
      padding-left: 10px;
      display: flex;
      align-items: center;

      .search-box-container {
        border: 1.5px solid grey;
        border-radius: 8px;
        width: 200px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          border: none;
          width: 150px;
          height: 100%;
          padding-top: 0;
          padding-bottom: 0;
          border-radius: 5px 0 0 5px;
        }
      }

      .search-icon-container {
        width: 50px;
        height: 100%;
        background: #39cdcc;
        border-radius: 0 5px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
      }

      @media (max-width: 576px) {
        display: none;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        width: calc(33% - 10px);
      }
    }
  }

  .body {
    width: 100%;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .side-bar {
      width: 250px;
      height: 99%;
      transition: all 0.5s ease;
      background: #fff;
      z-index: 2;
      position: fixed;

      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .side-bar-top {
        width: 100%;
        height: 130px;
        overflow: hidden;

        .switch-organisation-option {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 80%;
          height: 35px;
          margin: auto;
          margin-top: 30px;
          margin-bottom: 30px;

          .center {
            p {
              padding: 5px 0;
              margin: 0;
              color: #213f7d;
              font-size: 16px;
              line-height: 18.77px;
              overflow: hidden;
            }
          }

          .right {
            .arrow-head-down-icon {
              cursor: pointer;
            }
          }
        }
      }
      .sidebar-option-header {
        width: 80%;
        height: 30px;
        margin: auto;
        margin-top: 25px;

        p {
          padding: 0;
          margin: 0;
          color: #545f7d;
        }
      }

      .sidebar-option-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.5s ease;

        &:hover {
          .stripe {
            width: 3px;
            height: 100%;
            background: #39cdcc;
          }
        }

        .contents {
          height: 100%;
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          overflow: hidden;

          .icon {
            margin-top: 3px;

            .loan-requests-icon,
            .loan-products-icon {
              margin-top: 3px;
            }
          }

          .name {
            width: 85%;
            display: flex;
            align-items: center;
            overflow: hidden;

            p {
              padding: 5px 0;
              margin: 0;
              color: #213f7d;
              font-size: 16px;
              line-height: 18.77px;
              overflow: hidden;
            }
          }
        }
      }

      .sidebar-bottom {
        padding: 5px 0;
        margin: 65px 0 0 0;
        border-top: 1px solid rgb(33, 63, 125, 0.1);

        .version {
          margin: 10px 0 0 12%;
          color: #213f7d;
        }
      }

      .empty-div {
        width: 100%;
        height: 60px;
        background: #545f7d;

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 768px) {
        position: absolute;
        left: -250px;
        height: 99.7%;
        top: 0.3%;

        &.active {
          left: 0;
        }
      }
    }
    .main-body {
      width: 90%;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        h3 {
          color: #213f7d;
          font-weight: 500;
          font-size: 24px;
          line-height: 28.15px;
        }

        .users-info-box-container {
          width: 95%;
          height: 120px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
          overflow: hidden;

          .users-info-box {
            width: calc(48% - 20px);
            height: calc(100% - 20px);
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            background: white;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1),
              0 3px 4px 0 rgba(0, 0, 0, 0.06);
            padding: 10px 0 10px 10px;

            .icon-box {
              width: 90%;
              margin: auto;
              overflow: hidden;
            }
            .name-box {
              width: 90%;
              margin: auto;
              p {
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 16.42px;
              }
            }
            .total-box {
              width: 90%;
              margin: auto;
              p {
                font-weight: 600;
                margin: 0;
                padding: 0;
                font-size: 24px;
                line-height: 28.15px;
              }
            }

            @media (min-width: 576px) {
              width: calc(24% - 20px);
            }

            @media (max-width: 576px) {
              height: calc(50% - 20px);
            }
          }

          @media (min-width: 576px) {
            padding-bottom: 10px;
          }

          @media (max-width: 576px) {
            flex-wrap: wrap;
            height: 240px;
            padding-bottom: 25px;
          }
        }

        .table-container {
          width: 90%;
          height: 600px;
          margin: auto;
          margin-top: 30px;
          position: relative;
          overflow-x: auto;

          .filter-results-box {
            width: 200px;
            height: 450px;
            position: absolute;
            top: 5px;
            left: 5px;
            background: #fff;
            border: 1px solid #39cd62;
            display: none;
            padding: 5px;
            z-index: 1;

            form {
              width: 90%;
              height: 90%;
              margin: auto;
              // background: olive;

              .form-option {
                width: 100%;
                height: 60px;
                margin: auto;
                display: flex;
                flex-direction: column;

                // align-items: center;
                justify-content: start;

                span {
                  color: #545f7d;
                }

                .select {
                  width: 100%;
                  height: 30px;
                  margin: auto;
                  margin-top: 0;
                  border: 1px solid #213f7d;
                  border-radius: 8px;
                  opacity: 0.3;

                  option {
                    color: #545f7d;
                    font-size: 14px;
                    line-height: 16.42px;
                  }
                }

                .input {
                  width: calc(99% - 10px);
                  height: 30px;
                  margin: auto;
                  margin-top: 0;
                  border: 1px solid #213f7d;
                  border-radius: 8px;
                  opacity: 0.3;
                  padding: 0 5px;

                  &:focus {
                    border: none;
                  }
                }
              }

              .btns-container {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                  width: 48%;
                  border-radius: 8px;
                  font-size: 14px;
                  line-height: 16.42px;
                  font-weight: 600;

                  &.reset-btn {
                    border: 1px solid #545f7d;
                    color: #545f7d;
                  }
                  &.filter-btn {
                    background: #39cdcc;
                    color: #fff;

                    &:hover {
                      border-color: #39cdcc;
                    }
                  }
                }
              }
            }

            &.active {
              display: flex;
            }
          }

          .table {
            width: 100%;
            background: #fff;
            position: absolute;

            thead {
              width: 100%;

              td {
                margin: 0 10px;
                width: 15%;
                padding: 20px;

                .column-header {
                  width: 100%;
                  display: flex;
                  align-items: center;

                  span {
                    font-size: 11px;
                    line-height: 14.08px;
                    margin-right: 5px;
                    color: #545f7d;
                  }
                  .filter-results-btn {
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                  }
                }

                &.menu-column {
                  width: 10%;
                }
              }
            }

            tbody {
              width: 100%;

              td {
                margin: 0 10px;
                width: 15%;
                padding: 20px;

                .column-body {
                  width: 100%;
                  display: flex;
                  align-items: center;

                  span {
                    font-size: 11px;
                    line-height: 14.08px;
                    margin-right: 5px;
                    color: #545f7d;

                    &.inactive {
                      padding: 5px;
                      color: #545f7d;
                      background: rgb(84, 95, 125, 0.06);
                      border-radius: 100px;
                    }
                    &.pending {
                      padding: 5px;
                      color: #e9b200;
                      background: rgb(233, 178, 0, 0.1);
                      border-radius: 100px;
                    }
                    &.active {
                      padding: 5px;
                      color: #39cd62;
                      background: rgb(57, 205, 98, 0.06);
                      border-radius: 100px;
                    }
                    &.blacklisted {
                      padding: 5px;
                      color: #e4033b;
                      background: rgb(228, 3, 59, 0.1);
                      border-radius: 100px;
                    }
                  }
                }

                &.menu-column {
                  width: 10%;
                  position: relative;

                  .column-body {
                    // position: absolute;
                    .more-icon {
                      cursor: pointer;
                      color: #545f7d;
                    }
                  }
                  .table-side-menu-box {
                    padding: 10px 20px;
                    width: 110px;
                    height: 100px;
                    position: absolute;
                    right: 5%;
                    top: -20px;
                    border-radius: 4px;
                    background: #fff;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1),
                      0 3px 4px 0 rgba(0, 0, 0, 0.06);
                    border: 1px solid #39cdcc;
                    display: none;

                    .option {
                      width: 100%;
                      height: 30%;
                      display: flex;
                      cursor: pointer;

                      .option-icon {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        color: #545f7d;
                      }
                      .option-name {
                        width: calc(80% - 5px);
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: #545f7d;
                        font-size: 14px;
                        padding-left: 5px;
                      }
                    }

                    &.active {
                      display: flex;
                    }
                  }
                }
              }

              .divider {
                height: 1px;
                width: 100%;
                background: #213f7d;
              }
            }
          }

          @media (min-width: 768px) {
            width: 93%;
          }
        }

        .footer-container {
          width: 93%;
          height: 100px;
          margin: auto;

          .footer-nav {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 13px;

            .left {
              display: flex;
              flex-direction: row;
              width: 50%;
              align-items: center;

              @media (min-width: 768px) {
                justify-content: start;
              }

              .page-number {
                padding: 0 5px;
                width: 50px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 5px;
                cursor: pointer;
              }
            }

            .right {
              width: 50%;
              display: flex;
              align-items: center;
              justify-content: end;

              @media (max-width: 576px) {
                justify-content: space-around;
              }

              div {
                margin: 0 10px;
                span {
                  margin: 0 2.5px;
                  cursor: pointer;
                }
              }

              img {
                cursor: pointer;
              }
            }
          }
        }

        @media (min-width: 768px) {
          width: calc(100% - 10px);
        }
      }

      @media (min-width: 768px) {
        width: calc(100% - 250px);
        // position: relative;
        display: flex;
        // left: 250px;
        justify-content: end;
        // top: 1%;
        margin-left: 250px;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      height: calc(100% - 10%);
      justify-content: center;
    }
  }
}
